@model Venkat.Models.Employe

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Employe</h4>
    <hr />
    @section Menu
    {
        <br /><br /><br /><br /><br /><br /><br />
        <h3>@Html.ActionLink("List", "index") </h3><br />
        <h3> @Html.ActionLink("Edit", "Edit", new { id = Model.IdEmployee }) </h3><br />
        <h3> @Html.ActionLink("Details", "Details", new { id = Model.IdEmployee }) </h3> <br />
    }
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrlImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrlImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AltImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AltImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblDepartment.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblDepartment.Name)
        </dd>

    </dl>

    @using (Html.BeginForm("DeleteConfirmed", "employes", new { id = Model.IdEmployee }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
        </div>
    }
</div>
