@model Venkat.Models.Employe

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employe</h4>
    <hr />
    @section Menu
    {
        <br /><br /><br /><br /><br /><br /><br />
        <h3>@Html.ActionLink("List", "index") </h3><br />
        <h3> @Html.ActionLink("Edit", "Edit", new { id = Model.IdEmployee }) </h3><br />
        <h3> @Html.ActionLink("Delete", "Delete", new { id = Model.IdEmployee }) </h3> <br />
    }
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrlImage)
        </dt>

        <dd>
            @Html.Image(Model.UrlImage, Model.AltImage);
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblDepartment.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblDepartment.Name)
        </dd>

    </dl>
</div>

