@model IEnumerable<Venkat.Models.Employe>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrlImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AltImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblDepartment.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    @Html.Partial("_Employee", item)
}

</table>
