@using PagedList;
@using PagedList.Mvc;

@model IPagedList<Venkat.Models.Employe>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<row>
    <div class="col-md-4"></div>
    <div class="col-md-8">
        @using (Html.BeginForm("Index", "Employes", FormMethod.Get))
        {
            <b>Search By</b>
            @Html.RadioButton("searchBY", "name", true) <text>Name</text>
            @Html.RadioButton("searchBY", "gender")<text>Gender</text> <br />
            @Html.TextBox("searchText")
            <input type="submit" name="search" value="Search" />
        }
    </div>
</row>

<br />
<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Delete", "Employes", FormMethod.Post))
{
<table class="table">
    <tr>
        <th>
            Select to delete
        </th>
        <th>
            @Html.ActionLink("Name", "Index", new
       {
           sortBy = ViewBag.sortByNameParameter,
           searchBy = Request["searchBy"],
           searchText = Request["searchText"],
           page = Request["page"]
       })
        </th>
        <th>
            @Html.ActionLink("Gender", "Index", new
       {
           sortBy = ViewBag.sortByGenderParameter,
           searchBy = Request["searchBy"],
           searchText = Request["searchText"],
           page = Request["page"]
       })
        </th>
        <th>
            @Html.ActionLink("City", "Index", new
       {
           sortBy = ViewBag.sortByCityParameter,
           searchBy = Request["searchBy"],
           searchText = Request["searchText"],
           page = Request["page"]
       })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().UrlImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().AltImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().tblDepartment.Name)
        </th>
        <th>Action</th>
    </tr>

    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="8">
                No rows match search criteria
            </td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            @Html.Partial("_Employee", item)
        }
    }
</table>

 <input type="submit" value="delete selected rows" />
}

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchBy = Request.QueryString["searchBy"],
    searchText = Request.QueryString["searchText"], sortBy = Request["sortBy"]}))
    