@model IEnumerable<Venkat.Models.Employe>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<row>
    <div class="col-md-4"></div>
    <div class="col-md-8">
        @using (Html.BeginForm("Index", "Employes", FormMethod.Get))
        {
            //@Html.AntiForgeryToken()

            <b>Search By</b>
            @Html.RadioButton("searchBY", "name", true) <text>Name</text>
            @Html.RadioButton("searchBY", "gender")<text>Gender</text> <br />
            @Html.TextBox("search")
            <input type="submit" name="search" value="Search" />
        }
    </div>
</row>

<br />
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrlImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AltImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblDepartment.Name)
        </th>
        <th>Action</th>
    </tr>

    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="7">
                No rows match search criteria
            </td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            @Html.Partial("_Employee", item)
        }
    }



</table>
